.main-container-outer
  .main-content-container
    .main-content-inner-container
      .main-header-title Login
      = form_tag '/auth/twitter', method: 'get', class: "twitter-form" do
        %button.signup-twitter-button
          = icon('twitter')
          = "Login via Twitter"
      %p.flash
        = flash[:error]
        - if params[:w]
          You must be logged in to do that
      = form_tag sessions_path, method: 'post', class: "form-container" do
        .text-field-container
          = label :username_or_email, 'Email:', class: 'submit-label'
          = text_field_tag :username_or_email, params[:username_or_email], placeholder: "Or use your username", class: "submit-input", autofocus: true
        .text-field-container
          = label :password, 'Password:', class: 'submit-label'
          = password_field_tag :password, nil, placeholder: "Password", class: "submit-input"
        = submit_tag "Login", class: "primary-action-button"

      %p.alternative-account-option-link
        = link_to "I don't have an account yet", signup_path