.main-container-outer
  .main-content-container
    .main-content-inner-container
      .contact
        .container
          %h1 Contact Us
          %p
            = icon('envelope')
            = link_to 'support@encorebeat.com', 'mailto:support@encorebeat.com', class: 'emphasize'
            \- For customer support and feedback
          %p
            = icon('envelope')
            = link_to 'press@encorebeat.com', 'mailto:press@encorebeat.com', class: 'emphasize'
            \- For press-related inquiries
          %p
            = icon('twitter')
            = link_to '@EncoreBeatCOM', 'https://twitter.com/EncoreBeatCOM', class: 'emphasize'
          %p
            = icon('facebook-square')
            = link_to '/EncoreBeatCOM', 'https://www.facebook.com/EncoreBeatCOM', class: 'emphasize'
          %p
            We look forward to hearing from you and will get back to you within the day, usually earlier!