.main-container-outer
  = link_to "Submit Song", new_submission_path, style: "margin-top: -50px; display: block; margin-bottom: 50px;"
  %h1.main-header-title-margin-bot.main-header-title ENCOREBEAT
  .songs-list-container
    -@submissions.each do |submission|
      .song
        .upvote-container
          .arrow-up
          %p.vote-count= submission.upvotes.count
        .song-details-container
          %h3.song-list-title
            = link_to "#{submission.title} - #{submission.artist}", submission.url, target: "_blank"
          .song-submitter
            = image_tag "headshot.png", class: "song-submitter-avatar"
            %p.song-submitter-name Kevin Ko
            %p.song-comments-label 20 comments
