.main-container-outer#main-container-homepage
  .main-container-header
    .navigation
      = link_to "Submit Song", new_submission_path
      
      - if current_user
        #{current_user.username}
        = link_to "Logout", session_path(current_user), method: :delete
      - else 
        = link_to "Sign Up", new_user_path
    .main-container-header-overlay
    
    %h1.main-header-title-margin-bot.main-header-title ENCOREBEAT
    %h2.main-header-subtitle The best EDM beats everyday
  .songs-list-container
    %h4.song-list-date-group TUESDAY AUG 16TH
    -@submissions.each do |submission|
      .song
        .upvote-container
          - if current user && current_user.upvotes.where('submission_id = ? AND nullified = ?', submission.id, false).exists?
            = react_component('Upvote', {upvoted: true, song_id: submission.id}, :span)
          - else
            = react_component('Upvote', {upvoted: false, song_id: submission.id}, :span)
          %p.vote-count= submission.upvotes.count
        .song-details-container
          %h3.song-list-title
            = link_to "#{submission.title} - #{submission.artist}", submission.url, target: "_blank"
          .song-submitter
            = image_tag "/assets/headsht.png", class: "song-submitter-avatar"
            %p.song-submitter-name Kevin Ko
            = link_to "20 comments", submission_path(submission.id), class: "song-comments-label"
