.main-container-outer#main-container-homepage
  .main-container-header
    .navigation
      - if current_user
        #{current_user.username}
        = link_to "Submit Song", new_submission_path
        = link_to "Logout", session_path(current_user), method: :delete
      - else 
        = link_to "Sign Up", signup_path
        = link_to "Login", login_path
    .main-container-header-overlay
    
    %h1.main-header-title ENCOREBEAT
    %h2.main-header-subtitle The best EDM beats everyday
  .songs-list-container
    - @submissions.each do |date, submissions|
      %h4.song-list-date-group= humanize_date(date)
      - submissions.each do |submission|
        .song
          .upvote-container
            - if current_user
              = react_component('Upvote', {upvoted: @current_user_upvotes.any? {|upvote| !upvote.nullified && upvote.submission_id == submission.id }, song_id: submission.id}, :span)
            - else
              = link_to login_path(w: true) do
                .arrow-up
            %p.vote-count{:'data-count-id' => submission.id}
              = submission.count.submission_upvotes
          .song-details-container
            %h3.song-list-title
              = link_to formatted_line_for_submission(submission), submission.url, target: "_blank", :'data-submission-id' => submission.id
            .song-submitter
              = image_tag "headsht.png", class: "song-submitter-avatar"
              %p.song-submitter-name.bold= submission.user.username
              = link_to "20 comments", submission_path(submission.id), class: "song-comments-label grey"
