.admin-approvals
  .main-container-outer
    %h1.main-header-title.approval-title Admin Approval Queue
    %h4.song-list-date-group= "Going Out Tomorrow #{Date.tomorrow}"
    .main-content-container.songs-for-the-day-container
      .main-content-inner-container
        - @future_submissions.each do |submission|
          .song
            .song-details-container
              %h3.song-list-title
                = link_to formatted_line_for_submission(submission), submission.url, target: "_blank"
              .song-submitter
                = user_avatar_thumb_small(submission.user)
                %p.song-submitter-name
                  = link_to submission_username(submission.user), username_path(submission.user.username)
    - if @submissions.empty?
      No submissions to approve right now. Why not spread the word? :)
    - else
      - @submissions.each do |date, submissions|
        %h4.song-list-date-group= date
        .main-content-container.songs-for-the-day-container
          .main-content-inner-container
            - submissions.each do |submission|
              .song{ :'data-submission-id' => submission.id }
                .song-details-container
                  %h3.song-list-title
                    = link_to formatted_line_for_submission(submission), submission.url, target: "_blank"
                  .song-submitter
                    = user_avatar_thumb_small(submission.user)
                    %p.song-submitter-name
                      = link_to submission_username(submission.user), username_path(submission.user.username)
                    .admin-control
                      %p
                        = link_to "Publish Now", submission_path(submission, status: 1, published_at: Date.today), {remote: true, :'data-submission-id' => submission.id, class: 'js-approve-submission approve-submission', method: :put}
                        = link_to "Publish Tomorrow", submission_path(submission, status: 1, published_at: Date.tomorrow), {remote: true, :'data-submission-id' => submission.id, class: 'js-approve-submission approve-submission', method: :put}
                        = link_to "Reject", submission_path(submission, status: 2), {remote: true, :'data-submission-id' => submission.id, class: 'js-reject-submission reject-submission', method: :put}
                        = link_to "Edit", edit_submission_path(submission), class: 'edit-submission'