%footer.main-container-footer
  = render partial: 'partials/social_media'
  %ul.footer-links
    - if current_user && !@hide_nav
      %li= link_to 'Logout', session_path(current_user), method: :delete
      %li= link_to 'Profile', username_path(current_user.username)
    - else
      %li= link_to 'Signup', signup_path
      %li= link_to 'Login', login_path
    %li= link_to 'FAQ', faq_path
    %li= link_to 'Terms', terms_path
    %li.copyright &copy; EncoreBeat #{Time.now.year}

  = render partial: 'partials/google_analytics'