%header.main-container-header
  .navigation
    .navigation-inner
      = link_to root_path, class: "logo" do
        %span.encore Encore
        %span.beat Beat
      .main-nav-options
        - if current_user && !@hide_nav
          = link_to username_path(current_user.username) do
            = user_avatar_thumb_small(current_user)
            My Playlist
          = link_to highlight_slug_path(last_highlight_slug) do
            = icon('list-ol')
            Weekly Top 10
          = link_to new_submission_path, class: 'submit-link' do
            = icon('plus-circle')
            Submit
          - if current_user.admin && current_user.site_admin
            = link_to "Admin", admin_index_path
          - elsif current_user.admin
            = link_to "Admin", approval_queue_path
          = link_to "Logout", session_path(current_user), method: :delete
        - else 
          - if @show_nav_home_link
            = link_to 'Home', root_path
          = link_to highlight_slug_path(last_highlight_slug) do
            = icon('list-ol')
            Weekly Top 10
          = link_to signup_path(w: true), class: 'submit-link' do
            Submit
          = link_to "Login", login_path, class: 'emphasize'
  .main-container-header-overlay
  - if @keep_headline || !current_user
    .full-headline
      %h2.main-header-subtitle 
        New electronic dance music hits, published every day.