- @submissions_dates.each do |date|
  - next if date == Date.tomorrow
  - if date == Date.yesterday
    = render 'partials/newsletter_callout'
  %h4.song-list-date-group= humanize_date(date)
  - if show_highlight_callout?(date)
    = render 'partials/highlight_callout'
  .main-content-container.songs-for-the-day-container
    .main-content-inner-container
      - @submissions[date].each do |submission|
        .song
          .upvote-container
            = render partial: 'partials/upvote', locals: { submission: submission }
            %p.vote-count{:'data-count-id' => submission.id}
              = submission.submission_count.upvotes
          .song-details-container
            = render partial: 'partials/submission_row', locals: { submission: submission }
