- @submissions_dates.each do |date|
  - next if date == Date.tomorrow
  %h4.song-list-date-group= humanize_date(date)
  .main-content-container.songs-for-the-day-container
    .main-content-inner-container
      - @submissions[date].each do |submission|
        .song
          .upvote-container
            = render partial: 'partials/upvote', locals: { submission: submission }
            %p.vote-count{:'data-count-id' => submission.id}
              = submission.submission_count.upvotes
          .song-details-container
            %h3.song-list-title.song-title-link
              = link_to formatted_line_for_submission(submission), submission.url, target: "_blank", :'data-submission-id' => submission.id
            .song-actions
              .song-submitter
                - if submission.user
                  = link_to username_path(submission.user.username), class: 'song-submitter-name' do
                    = user_avatar_thumb_small(submission.user)
                    = submission_username(submission.user)
                - else
                  = user_avatar_thumb_small(submission.user)
                  = submission_username(submission.user)
              = render partial: 'partials/favorite', locals: { submission: submission }
              = link_to submission_flat_name_path(submission.flat_slug), class: "song-comments-label grey" do
                = icon('comments')
                = comment_count(submission)
