- @submissions_dates.each do |date|
  - next if date == Date.tomorrow
  %h4.song-list-date-group= humanize_date(date)
  .main-content-container.songs-for-the-day-container
    .main-content-inner-container
      - @submissions[date].each do |submission|
        .song
          .upvote-container
            - if current_user
              = react_component('Upvote', {upvoted: @current_user_upvotes.any? {|upvote| !upvote.nullified && upvote.submission_id == submission.id }, song_id: submission.id}, :span)
            - else
              = link_to login_path(w: true) do
                .arrow-up
            %p.vote-count{:'data-count-id' => submission.id}
              = submission.submission_count.upvotes
          .song-details-container
            %h3.song-list-title.song-title-link
              = link_to formatted_line_for_submission(submission), submission.url, target: "_blank", :'data-submission-id' => submission.id
            .song-submitter
              = user_avatar_thumb_small(submission.user)
              %p.song-submitter-name.off-emphasize
                - if submission.user
                  = link_to submission_username(submission.user), username_path(submission.user.username)
                - else
                  = submission_username(submission.user)
              = link_to comment_count(submission), submission_flat_name_path(submission.flat_slug), class: "song-comments-label grey"
