.user
  .main-container-outer
    .main-content-container
      .main-content-inner-container
        .main-header-title Update Profile
        = form_for @user, html: { class: "form-container", multipart: true } do |f|
          - if @user.errors.any?
            .error-messages
              %ul
                - for message in @user.errors.full_messages
                  %li= message
          %p.label-header Change Photo (optional)
          = cl_image_tag(@user.avatar, radius: :max, class: 'user-avatar') if @user.avatar?
          = hidden_field_tag :avatar_cache
          = file_field_tag :avatar, class: "upload-avatar-button js-get-file-name", onchange: "addFileNameToPage();"
          %p.avatar-added-text.js-add-filename.js-hide-avatar-added-text{onclick: "hideFileNameHolder();"}
          - if @user.identities.blank?
            %p.label-header Change Twitter Name (optional)
            = text_field_tag :twitter_username, @user.twitter_username, placeholder: "e.g. EncoreBeatCOM", class: 'submit-input vertical'
          %p.label-header Change Password (optional)
          - if @user.identities.any?
            %p You're logged in via Twitter.
            %p You don't have, or need, a password on encorebeat.com
          - else
            = label :password, 'Password: (at least 5 characters)', class: 'submit-label'
            = password_field_tag :password, '', id: 'password', placeholder: "Password", class: 'submit-input vertical'
            = label :password_confirmation, 'Confirm Password:', class: 'submit-label'
            = password_field_tag :password_confirmation, '', id: 'password_confirmation', placeholder: "Confirm Password", class: 'submit-input vertical'
            .password-helper
          = f.submit 'Update', class: "primary-action-button"