.main-container-outer
  .main-content-container
    .main-content-inner-container
      %h1.main-header-title Just one last step
      %p.main-header-description-text You're almost there, we just need a photo before you can start upvoting, commenting, and submitting songs.
      = form_for @user, html: { class: 'form-container' } do |f|
        - if @user.errors.any?
          .error_messages
            %ul
              - for message in @user.errors.full_messages
                %li= message
        = hidden_field_tag 'final_signup_step', true
        - if @user.identities.any?
          = f.text_field :username, placeholder: 'Username', value: @user.identities.first.username, id: 'username', class: 'submit-input'
          = f.text_field :email, placeholder: 'Email', spellcheck: false, id: 'email', class: 'submit-input'
        - else
          = f.hidden_field(:avatar_cache)
          = f.file_field :avatar, class: "upload-avatar-button"

        = f.submit 'Signup', class: 'primary-action-button'