.main-container-outer
  .main-content-container
    .main-content-inner-container
      %h1.main-header-title Just one last step
      - if @user.identities.any?
        %p.main-header-description-text We need your email to finalize your account.
      - else
        %p.main-header-description-text Add a photo before you begin commenting and submitting songs!
      = form_for @user, html: { class: 'form-container', multipart: true } do |f|
        - if @user.errors.any?
          .error-messages
            %ul
              - for message in @user.errors.full_messages
                %li= message
        = hidden_field_tag 'final_signup_step', true
        - if @user.identities.any?
          .text-field-container
            = label :username, 'Username:', class: "submit-label"
            = text_field_tag :username, '', placeholder: 'Choose your username', value: @user.identities.first.username, class: 'submit-input'
          .text-field-container
            = label :email, 'Email:', class: "submit-label"
            = text_field_tag :email, '', placeholder: 'Email', spellcheck: false, class: 'submit-input'
        - else
          = hidden_field_tag :avatar_cache
          = file_field_tag :avatar, class: "upload-avatar-button js-get-file-name", onchange: "addFileNameToPage();"
          %p.avatar-added-text.js-add-filename.js-hide-avatar-added-text{onclick: "hideFileNameHolder();"}

        = f.submit 'Signup', class: 'primary-action-button'