.main-container-outer
  .main-content-container
    .main-content-inner-container
      .main-header-title Sign up in seconds to add songs to your playlist and interact with the community!

      = form_tag '/auth/twitter', method: 'get', class: "twitter-form" do
        %button.signup-twitter-button
          = icon('twitter')
          = "Sign Up via Twitter"

      %h3.callout
        Or Sign Up below:

      = form_for @user, html: { class: "form-container" } do |f|
        - if @user.errors.any?
          .error-messages
            %ul
              - for message in @user.errors.full_messages
                %li= message
        .text-field-container
          = label :username, 'Username:', class: 'submit-label'
          = text_field_tag :username, '', placeholder: 'Choose your username', id: 'username', class: 'submit-input', autofocus: true
        .text-field-container
          = label :email, 'Email:', class: 'submit-label'
          = text_field_tag :email, '', placeholder: 'We protect your info', id: 'email', class: 'submit-input'
        .text-field-container
          = label :password, 'Password:', class: 'submit-label'
          = password_field_tag :password, '', id: 'password', placeholder: "At least 5 characters", class: 'submit-input'
        = f.submit 'Create Account', class: "primary-action-button"
      %p.alternative-account-option-link
        = link_to 'Click here log in if you already have an account', login_path