.main-container-outer
  .main-content-container
    .main-content-inner-container
      .main-header-title CREATE ACCOUNT
      
      = form_tag '/auth/twitter', method: 'get', class: "twitter-form" do
        %button.signup-twitter-button= "Sign Up Via Twitter"

      = form_for @user, html: { class: "form-container" } do |f|
        - if @user.errors.any?
          .error_messages
            %ul
              - for message in @user.errors.full_messages
                %li= message
        .text-field-container
          = f.label :username, class: 'submit-label'
          = f.text_field :username, placeholder: 'What youll be called', id: 'username', class: 'submit-input', autofocus: true
        .text-field-container
          = f.label :email, class: 'submit-label'
          = f.text_field :email, placeholder: "We dont spam", id: 'email', class: 'submit-input'
        .text-field-container
          = f.label :password, class: 'submit-label'
          = f.password_field :password, id: 'password', placeholder: "At least 5 characters", class: 'submit-input'
        = f.submit 'Signup', class: "primary-action-button"
      %p.alternative-account-option-link
        = link_to '(or log in if you\'re already registered)', login_path