.user
  .main-container-outer
    .user-bio
      .main-header-title
      = cl_image_tag(@user.avatar, radius: :max, class: 'user-avatar')
      %h2.main-header-subtitle
        = @user.username
      %p= user_since(@user)
      - if @user == current_user
        %p= link_to 'Settings', edit_user_path(@user)

    .main-content-container
      .main-content-inner-container
        %h4.song-list-date-group Favorites
        = render partial: 'show_favorites'
        #load-more-container
        #paginate-container
          = react_component('InfinitePagination', {total_pages: @favorites.total_pages, current_page: @favorites.current_page, path: "/users/#{@user.id}"})
