.user
  .main-container-outer
    .user-bio
      .main-header-title
      = cl_image_tag(@user.avatar, radius: :max, class: 'user-avatar')
      .user-details
        %h2.main-header-subtitle
          = @user.username
        %p= user_since(@user)
        - if @user == current_user
          %p= link_to 'Edit Profile', edit_user_path(@user)
        - if @user.twitter_username
          = link_to "#{User::TWITTER_PATH}#{@user.twitter_username}", target: '_blank' do
            = icon('twitter')

    .main-content-container
      .main-content-inner-container
        %h1
          = succeed "'s Playlist" do
            = @user.username
        = render partial: 'show_favorites'
      .main-side-container
        = render 'partials/social_media_side'
        = render 'partials/player'