.user
  .main-container-outer
    .user-bio
      .main-header-title
      = cl_image_tag(@user.avatar, radius: :max, class: 'user-avatar')
      .user-details
        %h2.main-header-subtitle
          = @user.username
        %p= user_since(@user)
        - if @user == current_user
          %p= link_to 'Edit Profile', edit_user_path(@user)
        - if @user.twitter_username
          = link_to "#{User::TWITTER_PATH}#{@user.twitter_username}", target: '_blank' do
            = icon('twitter')

    .main-content-container
      .main-content-inner-container
        %h4.song-list-date-group
          = succeed "'s Playlist" do
            = @user.username
        = render partial: 'show_favorites'
        #load-more-container
        #paginate-container
          = react_component('InfinitePagination', {total_pages: @favorite_submissions.total_pages, current_page: @favorite_submissions.current_page, path: "/users/#{@user.id}"})
        = render 'partials/player'