.main-container-outer
  .main-content-container
    .main-content-inner-container
      %h1.main-header-title
        Submit song
      = form_for @submission, method: :post, html: { class: "form-container" } do |f|
        .music-preview.js-show-spinner.js-music-preview-box
        = f.text_field :url, class: "submit-input submit-input-url js-paste-music-previewer", placeholder: "Enter YouTube or Soundcloud URL", autocomplete: "off", autofocus: true
        = f.text_field :artist, class: "submit-input hiddenView js-show-field", placeholder: "Artist"
        = f.text_field :title, class: "submit-input hiddenView js-show-field", placeholder: "Title"
        = f.submit "Submit", id: "submit-song-button", class: "primary-action-button"