.main-content-container.comment-content-container
  .hero-content
    .hero-content-inner
      .upvote-container
        - if current_user
          = react_component('Upvote', {upvoted: @current_user_upvoted, song_id: @submission.id}, :span)
        - else
          = link_to login_path(w: true) do
            .arrow-up
        %p.vote-count{:'data-count-id' => @submission.id}
          = @submission.submission_count.upvotes
      %h1.main-header-comment-title
        = link_to formatted_line_for_submission(@submission), @submission.url, target: "_blank"
      .song-submitter
        = user_avatar_thumb_small(@submission.user)
        .song-submitter-name
          %span.emphasize= submission_username(@submission.user)
          %span.de-emphasize= "submitted this " + humanize_date(@submission.created_at)

  .comments-container
    %p.comment-count= comment_count(@submission)
    = react_component('CommentBox', {presenter: @presenter.to_json}, {:prerender => true})
