!!!
%html
  %head
    %title EncoreBeat
    = stylesheet_link_tag 'application', media: 'all'
    %link{ href: 'http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Lato:300,400', rel: 'stylesheet', type: 'text/css' }
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0"}
    %meta{property: "og:url" content: request.url}
    %meta{property: "og:type" content: "website"}
    %meta{property: "og:description" content: "The newest hits in electronic dance music. Everyday."}
    %meta{property: "og:image" content: "http://res.cloudinary.com/dhkz9zvs5/image/upload/v1409599765/profile_banner.png"}
    - if @page_data
      %meta{property: "og:title" content: @page_data}
    - else
      %meta{property: "og:title" content: "EncoreBeat.com - The newest hits in electronic dance music. Everyday."}
  %body
    - flash.each do |name, msg|
      %div{class: "alert #{name}"}
        %span= msg
        %span.close-alert &#10006;
    = render partial: 'partials/header'
    = yield
    = render partial: 'partials/footer'